.main{
    position: absolute;
    right: 100px;
    top: 100px;
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    z-index: 4;
   
}
.card2{
     position:absolute;
    right: 150px;
    top: 150px;
    height: 200px;
    width: 200px;
    background-color: green;
     z-index: 3;
}
.card3{
     position:absolute;
    right: 200px;
    top: 200px;
    height: 200px;
    width: 200px;
    background-color: yellow;
     z-index: 2;
}
.card4{
     position:absolute;
    right: 250px;
    top: 250px;
    height: 200px;
    width: 200px;
    background-color:blue;
     z-index: 1;
}